.palleteContainer {
  padding: 1rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  margin: 0 auto;
}

.palleteItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.palleteLabel {
  margin: 1rem;
}
